.node {
  padding: 5px;
  display: flex;
  margin: auto;
  align-items: start;
  justify-content: center;
}

.node-add,
.node-remove{
  width: 20px;
  float: left;
}

.node-add:hover,
.node-remove:hover {
  width: 20px;
  cursor: pointer;
}

.node-element {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
}

.node-element h3 {
  height: 100%;
  margin: auto;
  color: white;
  padding: 10px;
}
